In [142]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import pandas as pd

In [143]:
data = pd.read_csv("melb_data.csv")
print(f"Number of instances = {data.shape[0]}")
print(f"Number of attributes = {data.shape[1]}")
data.head()

Number of instances = 13580
Number of attributes = 21

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [144]:
print("Number of missing values in each each column")
data.isnull().sum()

Number of missing values in each each column

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [145]:
data['Address'].value_counts()

36 Aberfeldie St    3
2 Bruce St          3
5 Charles St        3
53 William St       3
14 Arthur St        3
                   ..
16 Alleford St      1
2/1073 Centre Rd    1
14 Columbia St      1
21 Hardy Ct         1
6 Agnes St          1
Name: Address, Length: 13378, dtype: int64

In [146]:
data['Address'].value_counts()

36 Aberfeldie St    3
2 Bruce St          3
5 Charles St        3
53 William St       3
14 Arthur St        3
                   ..
16 Alleford St      1
2/1073 Centre Rd    1
14 Columbia St      1
21 Hardy Ct         1
6 Agnes St          1
Name: Address, Length: 13378, dtype: int64

In [147]:
# Remove unuseful columns
data = data.drop(['Address', 'Method', 'Postcode'], axis=1)

In [148]:
print(f'Number of duplicate rows = {data.duplicated().sum()}')

Number of duplicate rows = 0

In [149]:
print("Number of missing values")
data.isnull().sum()

Number of missing values

Suburb              0
Rooms               0
Type                0
Price               0
SellerG             0
Date                0
Distance            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [150]:
# Replace missing values with mode for categorical and median for numeric
for c in ['Car', 'CouncilArea']:
    data[c] = data[c].fillna(data[c].mode()[0])
for c in ['BuildingArea', 'YearBuilt']:
    data[c] = data[c].fillna(data[c].median())

In [156]:
# Transform date format
data['Date'] = pd.to_datetime(data['Date'])
data[['Date']].head()

        Date
0 2016-03-12
1 2016-04-02
2 2017-04-03
3 2017-04-03
4 2016-04-06